<h1>Products</h1>
<%= form_tag products_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<h4><%= page_entries_info @products %></h4> <!-- Kaminari helper -->

<%= link_to 'Add a Product', new_product_path %>

<div id="products">
  <%= render @products %>         <!-- Looks for a partial named _product -->
</div>

<%= paginate @products %>  <!-- Kaminari helper -->